html {
  font-family: "Maven Pro", sans-serif;
  background-color: #3aafa9;
  color: #17252a;
}

header, footer {
  background-color: #17252a;
  color: #feffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab", serif;
}

h1, h2, h3, h4 {
  color: #feffff;
}

.white-underline {
  border-bottom: 2px solid #feffff;
}

h4 {
  -webkit-column-span: all;
  column-span: all;
}

a {
  text-decoration: none;
  color: #2b7a78;
}

a:hover {
  color: #17252a;
}

.mid-blue {
  color: #2b7a78;
}

@media only screen and (min-width: 25em) {

  h1 {
    text-align: center;
  }

  ol {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

}

@media only screen and (min-width: 38em) {

  h3, footer p {
    text-align: center;
  }

  ol {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

}
