:root {
  --font-primary: "EB Garamond", serif;
  --font-secondary: 'Quicksand', sans-serif;

  --color-light-shade: #f8f4f2;
  --color-light-accent: #ba717a;
  --color-main: #4c79ac;
  --color-dark-accent: #012493;
  --color-dark-shade: #1b111b;
}

html {
  font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6, caption {
  font-family: var(--font-primary);
}

h2 span, h3 span {
  border-color: var(--color-light-accent);
}

html {
  background-color: var(--color-light-shade);
  color: var(--color-dark-shade);
}

header, footer {
  background-color: var(--color-main);
  color: var(--color-light-shade);
}

a {
  color: var(--color-dark-accent);
}

a:hover {
  color: var(--color-light-accent);
}

.card-light {
  background-color: var(--color-dark-accent);
}

.card-dark {
  background-color: var(--color-dark-shade);
}

.cinnabar {
  color: var(--color-main);
}
