<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>D&amp;D Character Creation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{site.baseurl}}/common/theme.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Maven+Pro" rel="stylesheet">
</head>
<body>

  <header class="island">
    <h1 class="push-0">Hannah's RNG D&amp;D Character Creation Database</h1>
  </header>

  {{content}}

  <footer class="island">
    <p itemprop="author" class="push-0 milli">© Hannah Douglas</p>
  </footer>

</body>
</html>
